TOKEN=pon_aqui_tu_token
PORT=10000
GUILD_ID=
GUILD_IDS=
INACTIVITY_TIMEOUT_MS=120000
VOICE_RECONNECT_EVERY=10
AUDIO_CACHE_MAX_MB=1000
LYRICS_CACHE_DIR=
AUDIO_PREBUFFER_BYTES=262144
AUDIO_PREBUFFER_TIMEOUT_MS=5000
